{% extends 'base.html' %}
{% load static %}
{% block title %}about{% endblock %}
{% block content %}

<div class="container">
	<!-- ========== MENU ========== -->
	<nav class="menu">
		<div class="logo">
			<a href="{% url 'userhome' %}"
				><img src="{%  static 'user/images/logo.jpg' %}" alt="Yardstick Consulting and Hospitality" class="logo-img"
			/></a>
		</div>
		<!-- end logo -->

<!-- ========== MAIN MENU ========== -->
<ul class="main-menu">
	<li class=" menu-item">
		<a href="{% url 'userhome' %}"><i class="menu-icon fa fa-home"></i> Home</a>
	</li>
	<li class="active menu-item"><a href="{% url 'userabout' %}">About Us</a></li>

	<li class="menu-item">
		<a href="#">Services <i class="fa fa-caret-down"></i> </a>
		<!-- Sub Menu -->
		<ul class="mega-submenu normal-sub">
			<li>
				<a href="{% url 'planning' %}">
					<i class="fa fa-angle-right"> </i> Planning & Development
				</a>
			</li>
			<li>
				<a href="{% url 'customerexperince' %}">
					<i class="fa fa-angle-right"></i> Customer Experience
				</a>
			</li>
			<li>
				<a href="{% url 'operationmanagement' %}">
					<i class="fa fa-angle-right"></i> Operations & Management
				</a>
			</li>
			<li>
				<a href="{% url 'humanresource' %}"> <i class="fa fa-angle-right"></i> Training Talent Aquisition </a>
			</li>
			<li>
				<a href="{% url 'wellness' %}">
					<i class="fa fa-angle-right"> </i> Wellness & Recreational Consulting
				</a>
			</li>
			<li>
				<a href="{% url 'foodbev' %}">
					<i class="fa fa-angle-right"> </i> Food & Beverage Consulting
				</a>
			</li>
		</ul>
		<!-- end mega-submenu -->
	</li>
	<!-- end menu-item -->

	<li class="menu-item"><a href="{% url 'userwhyus' %}">why us</a></li>
	<li class="menu-item"><a href="{% url 'userclients' %}">clients</a></li>
	<li class="menu-item"><a href="{% url 'usergallery' %}">GALLERY</a></li>
	<li class="menu-item"><a href="{% url 'usergallery' %}">BLOG</a></li>
	<li class="menu-item"><a href="{% url 'booknow' %}">BOOK NOW</a></li>
</ul>
<!-- end main-menu -->
</nav>
<!-- end menu -->
</div>
<!-- end container -->
</div>
<!-- end header -->
    
    <!-- ========== MAIN ========== -->
    <div class="main">
        <!-- ========== FEATURES SECTION ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-header text-center mt20">
                        <h3 class="section-title underline">About yardstick</h3>
                    </div>
                    <!-- end section-header -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <h5 class="underline">Our Profile</h5>
                            <p class="text-justify">
                                The story of Yardstick begins with Bipin Venugopal. Bipin entered the hospitality industry
                                at the Leela Kempenski Hotels, Palaces, and Resorts over two decades ago.
                            </p>

                            <p class="text-justify">
                                Over time, he has worked with big chains at top management roles such as Hyatt Hotel
                                Corporation, Alila Hotels and Resorts, ITC Hotels, Resorts, and Palaces Hilton Worldwide in
                                Seychelles, making his way up to General Manager.
                            </p>

                            <p class="text-justify">
                                He also had an enriching stint in the United States, handling the operations for the
                                Carnival Cruise Line.
                            </p>

                            <p class="text-justify">
                                Bipin was instrumental in several successful preopening projects as well, bringing
                                unparalleled experience and expertise required to transform a concept into reality.
                            </p>

                            <p class="text-justify">
                                Having experienced food and hospitality in all its flavors and colors, Bipin launched his
                                venture, Salt Mango Tree, with his company White Canvas Hospitality in 2014. Today, it is
                                ranked Zomato's no.1 Kerala cuisine restaurant in Bangalore, with three restaurants across
                                the city.
                            </p>

                            <p class="text-justify">
                                He realized that his vast expertise in building a hospitality brand could help many others
                                as well. He assembled some of his colleagues that he met through his stints worldwide, and
                                that is how we came into existence.
                            </p>

                            <p class="text-justify">
                                Since then, we have helped many clients achieve their dreams by developing them into
                                stand-out brands.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <ul class="ul-style-2">
                                <h5 class="underline">Services Provided</h5>
                                <li><i class="fa fa-check list-icon"></i>Planning & Development</li>
                                <li><i class="fa fa-check list-icon"></i>Customer Experience</li>
                                <li><i class="fa fa-check list-icon"></i>Operations & Management</li>
                                <li><i class="fa fa-check list-icon"></i>Human Resources</li>
                                <li><i class="fa fa-check list-icon"></i>Wellness & Recreational Consulting</li>
                                <li><i class="fa fa-check list-icon"></i>Food & Beverage Consulting</li>
                            </ul>
                            <img src="{%  static 'user/images/about.jpg' %}" class="img-responsive" />
                        </div>
                        <!-- end col-md-8 -->
                    </div>
                    <!-- end col-md-10 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->

            <!----OUR TEAM BEGINS---->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-header text-center mt20">
                        <h3 class="section-title underline">Our Team</h3>
                    </div>
                    <!-- end section-header -->
                </div>

                <div class="row slideanim slide">
                    <div class="col-sm-12 col-md-2"></div>
                    <div class="col-sm-12 col-md-8 p-md-40">
                        <div class="thumbnail">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <img src="{%  static 'user/images/bipin.jpg' %}" class="img-responsive" style="width: 100%" />
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <h5><strong>Bipin Venugopal - Founder, Director</strong></h5>
                                    <p>
                                        Bipin provides overall vision and strategies for the organization to enable future
                                        restaurateurs and hoteliers towards their dreams.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2"></div>
                </div>

                <div class="row slideanim slide">
                    <div class="col-sm-4 p-md-40">
                        <div class="thumbnail">
                            <img src="{%  static 'user/images/chef_nengah.jpg' %}" alt="Paris" width="400" height="300" />
                            <h5><strong>Chef Nengah - Culinary Advisor</strong></h5>
                            <p>
                                Chef Nengah coming from ubud, Indonesia having 25 year experience in different cuisines of
                                the world with major five star hotels will add a dash of real world kitchen to our thinking.
                                He will bring the latest trends and styles in the restaurant industry to the company
                                leaders, and also help drive future restaurateurs' creativity when they think about food.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 p-md-40">
                        <div class="thumbnail">
                            <img src="{%  static 'user/images/avi_atholi.jpg' %}" alt="New York" width="400" height="300" />
                            <h5><strong>Avi Atholi - Financial Advisor</strong></h5>
                            <p>
                                Avi brings more than 15 years of experience in consulting and banking worlds in United
                                States. He will be responsible for managing financial strategies for the firm, and
                                developing and executing customer experience programs.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 p-md-40">
                        <div class="thumbnail">
                            <img src="{%  static 'user/images/krishnadas.jpg' %}" alt="San Francisco" width="400" height="300" />
                            <h5><strong>Krishnadas – Director Food and Beverage</strong></h5>
                            <p>
                                Krishnadas brings 10 years of experience in food and beverage operations, in a variety of
                                locations across the world. He will be instrumental in utilizing his rich experience towards
                                developing and executing operational frameworks that can be utilized by the customers.
                            </p>
                        </div>
                    </div>
                    <!--<div class="col-sm-3 p-md-40">-->
                    <!--	<div class="thumbnail">-->
                    <!--		<img src="images/salih.jpg" alt="San Francisco" width="400" height="300" />-->
                    <!--		<h5><strong>Abdul Salih – Head of Training and Aquisition</strong></h5>-->
                    <!--		<p>-->
                    <!--			With over 14 years of experience working mainly in the healthcare and hospitality industry, Abdul Salih is a seasoned hospitality pro. He has excelled in leading the safety and security department in various companies and has also mastered training as his core in different managerial positions.-->
                    <!--		</p>-->
                    <!--	</div>-->
                    <!--</div>-->
                </div>
            </div>
        </section>
        <!----OUR TEAM ENDS---->
    </div>
    <!-- end main -->

    {% endblock %}