{% extends 'base.html' %} 
{% load static %} 
{% block title %}Gallery
{% endblock%} 
{% block content %}

<div class="container">
	<!-- ========== MENU ========== -->
	<nav class="menu">
		<div class="logo">
			<a href="{% url 'userhome' %}"
				><img src="{%  static 'user/images/logo.jpg' %}" alt="Yardstick Consulting and Hospitality" class="logo-img"
			/></a>
		</div>
		<!-- end logo -->

<!-- ========== MAIN MENU ========== -->
<ul class="main-menu">
	<li class=" menu-item">
		<a href="{% url 'userhome' %}"><i class="menu-icon fa fa-home"></i> Home</a>
	</li>
	<li class=" menu-item"><a href="{% url 'userabout' %}">About Us</a></li>

	<li class=" menu-item">
		<a href="#">Services <i class="fa fa-caret-down"></i> </a>
		<!-- Sub Menu -->
		<ul class="mega-submenu normal-sub">
			<li>
				<a href="{% url 'planning' %}">
					<i class="fa fa-angle-right"> </i> Planning & Development
				</a>
			</li>
			<li>
				<a href="{% url 'customerexperince' %}">
					<i class="fa fa-angle-right"></i> Customer Experience
				</a>
			</li>
			<li>
				<a href="{% url 'operationmanagement' %}">
					<i class="fa fa-angle-right"></i> Operations & Management
				</a>
			</li>
			<li>
				<a href="{% url 'humanresource' %}"> <i class="fa fa-angle-right"></i> Training Talent Aquisition </a>
			</li>
			<li>
				<a href="{% url 'wellness' %}">
					<i class="fa fa-angle-right"> </i> Wellness & Recreational Consulting
				</a>
			</li>
			<li>
				<a href="{% url 'foodbev' %}">
					<i class="fa fa-angle-right"> </i> Food & Beverage Consulting
				</a>
			</li>
		</ul>
		<!-- end mega-submenu -->
	</li>
	<!-- end menu-item -->

	<li class="menu-item"><a href="{% url 'userwhyus' %}">why us</a></li>
	<li class="menu-item"><a href="{% url 'userclients' %}">clients</a></li>
	<li class="active menu-item"><a href="{% url 'usergallery' %}">GALLERY</a></li>
	<li class="menu-item"><a href="https://yardstickhospitality.com/blog/">BLOG</a></li>
	<li class="menu-item"><a href="{% url 'booknow' %}">BOOK NOW</a></li>
</ul>

<!-- end main-menu -->
</nav>
<!-- end menu -->
</div>
<!-- end container -->
</div>
<!-- end header -->

<!-- ========== MAIN ========== -->
<div class="main">
  <section class="content-section">
    <div class="container">
      <div class="row">
        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center mt20">
          <h3 class="section-title underline">Gallery</h3>
        </div>
        <!-- end section-header -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->

    <div class="container">
      <div class="row">
        {% for client in client_details %}
      
        <div id="experience{{client.Title}}" class="col-md-12">
          
          <div id="smti" style="height: 60px"></div>
         
          <h3   class="section-title underline center-block">{{client.Title}}</h3>
         
          <div class="tz-gallery">
            <div id="client-1" class="row">
              <!-- generated by script-->
              {% for pic in client_photos %} 
              {% if pic.clienttitle.Title == client.Title %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a 
                  href="{{pic.images.url}}"
                  class="fancybox lightbox"
                  rel="ligthbox"
                >
                  <img
                    src="{{pic.images.url}}"
                    class="zoom img-fluid"
                    alt=""
                  />
                </a>
              </div>
              {% endif %} 
              {% endfor %}
            </div>
          </div>




          
        </div>
        <!-- end client 1 -->

         {% endfor %}
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
</div>
<!-- end main -->

<script src="{%  static 'user/scripts/gallery.js' %}"></script>

<!-- <script>
  var clients = [
    { id: "client-1", imageCount: 18, name: "" },
    { id: "client-2", imageCount: 14, name: "" },
    { id: "client-3", imageCount: 21, name: "" },
    { id: "client-4", imageCount: 14, name: "" },
    { id: "client-5", imageCount: 22, name: "" },
    { id: "client-6", imageCount: 20, name: "" },
    { id: "client-7", imageCount: 7, name: "" },
    { id: "client-8", imageCount: 4, name: "" },
    { id: "client-9", imageCount: 11, name: "" },
  ];

  for (var i = 0; i < clients.length; i++) {
    for (var j = 0; j < clients[i].imageCount; j++) {
      var imagePath = `${i + 1}/${j + 1}.jpeg`;
      var staticPath = "{% static 'user/images/clients/' %}";
      var html = `
                    <a href="${staticPath}${imagePath}" 
                        class="fancybox lightbox"
                        rel="ligthbox">
                        <img src="${staticPath}${imagePath}" class="zoom img-fluid" alt="" />
                    </a>
                    `;
      var dom = document.createElement("div");
      dom.className = "col-lg-3 col-md-4 col-xs-6 thumb";
      dom.innerHTML = html;
      document.getElementById(clients[i].id).appendChild(dom);
    }
  }

  baguetteBox.run(".tz-gallery");
</script> -->

{% endblock %}
