{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


		<!-- ========== MAIN ========== -->
		<div class="main">
			<!-- ========== FEATURES SECTION ========== -->
			<section class="content-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 section-header text-center mt20">
							<h3 class="section-title underline">Training and Talent Acquisition</h3>
						</div>
						<!-- end section-header -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-8">
								<p>
									Without the right personnel, having a cutting-edge concept is irrelevant. We have worked
									with several clients to help them hire the right staff and train them to build
									organizational culture. Besides, the right staff can enhance the customer experience
									tenfold.
								</p>

								<div class="container">
									<p class="services-list">
										<i class="fa fa-angle-double-right green4"></i> Talent Acquisition
									</p>
									<p class="services-list"><i class="fa fa-angle-double-right green4"></i> Staff Training</p>
									<p class="services-list"><i class="fa fa-angle-double-right green4"></i> Staff retention</p>
									<p class="services-list">
										<i class="fa fa-angle-double-right green4"></i> Company Culture Building
									</p>
									<p class="services-list">
										<i class="fa fa-angle-double-right green4"></i> Staff Management
									</p>
									<p class="services-list">
										<i class="fa fa-angle-double-right green4"></i> Organizational Development
									</p>
								</div>
							</div>

							<div class="col-md-4">
								<img src="{%  static 'user/images/portfolio/377-499/04.jpg' %}" class="img-responsive" style="width: 100%" />
							</div>
							<!-- end col-md-8 -->
						</div>
						<!-- end col-md-10 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</section>
		</div>
		<!-- end main -->

        {% endblock %}