{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container">
	<!-- ========== MENU ========== -->
	<nav class="menu">
		<div class="logo">
			<a href="{% url 'userhome' %}"
				><img src="{%  static 'user/images/logo.jpg' %}" alt="Yardstick Consulting and Hospitality" class="logo-img"
			/></a>
		</div>
		<!-- end logo -->

<!-- ========== MAIN MENU ========== -->
<ul class="main-menu">
	<li class=" menu-item">
		<a href="{% url 'userhome' %}"><i class="menu-icon fa fa-home"></i> Home</a>
	</li>
	<li class=" menu-item"><a href="{% url 'userabout' %}">About Us</a></li>

	<li class="active menu-item">
		<a href="#">Services <i class="fa fa-caret-down"></i> </a>
		<!-- Sub Menu -->
		<ul class="mega-submenu normal-sub">
			<li>
				<a href="{% url 'planning' %}">
					<i class="fa fa-angle-right"> </i> Planning & Development
				</a>
			</li>
			<li>
				<a href="{% url 'customerexperince' %}">
					<i class="fa fa-angle-right"></i> Customer Experience
				</a>
			</li>
			<li>
				<a href="{% url 'operationmanagement' %}">
					<i class="fa fa-angle-right"></i> Operations & Management
				</a>
			</li>
			<li>
				<a href="{% url 'humanresource' %}"> <i class="fa fa-angle-right"></i> Training Talent Aquisition </a>
			</li>
			<li>
				<a href="{% url 'wellness' %}">
					<i class="fa fa-angle-right"> </i> Wellness & Recreational Consulting
				</a>
			</li>
			<li>
				<a href="{% url 'foodbev' %}">
					<i class="fa fa-angle-right"> </i> Food & Beverage Consulting
				</a>
			</li>
		</ul>
		<!-- end mega-submenu -->
	</li>
	<!-- end menu-item -->

	<li class="menu-item"><a href="{% url 'userwhyus' %}">why us</a></li>
	<li class="menu-item"><a href="{% url 'userclients' %}">clients</a></li>
	<li class="menu-item"><a href="{% url 'usergallery' %}">GALLERY</a></li>
	<li class="menu-item"><a href="https://yardstickhospitality.com/blog/">BLOG</a></li>
	<li class="menu-item"><a href="{% url 'booknow' %}">BOOK NOW</a></li>
</ul>

<!-- end main-menu -->
</nav>
<!-- end menu -->
</div>
<!-- end container -->
</div>
<!-- end header -->

<!-- ========== MAIN ========== -->
<div class="main">
    <!-- ========== FEATURES SECTION ========== -->
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-header text-center mt20">
                    <h3 class="section-title underline">Planning & Development</h3>
                </div>
                <!-- end section-header -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <p>
                            We have found that many businesses fail because they skip the first part – customer
                            research. Indepth customer research, coupled with a concept that customers will love, is the
                            key to success for any hospitality business.
                        </p>

                        <p>
                            We will work with you from the starting phase and help validate ideas and concepts, and
                            build a business that will bring good ROI.
                        </p>

                        <div class="container">
                            <p class="services-list">
                                <i class="fa fa-angle-double-right green4"></i> Concept Building
                            </p>
                            <p class="services-list">
                                <i class="fa fa-angle-double-right green4"></i> Customer Research
                            </p>
                            <p class="services-list"><i class="fa fa-angle-double-right green4"></i> Error Auditing</p>
                            <p class="services-list">
                                <i class="fa fa-angle-double-right green4"></i> Project Validation
                            </p>
                            <p class="services-list"><i class="fa fa-angle-double-right green4"></i> Design</p>
                            <p class="services-list">
                                <i class="fa fa-angle-double-right green4"></i> Sustainability Consulting
                            </p>
                            <p class="services-list">
                                <i class="fa fa-angle-double-right green4"></i> Kitchen Planning
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{%  static 'user/images/portfolio/377-499/01.jpg' %}" class="img-responsive" style="width: 100%" />
                    </div>
                    <!-- end col-md-8 -->
                </div>
                <!-- end col-md-10 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
</div>
<!-- end main -->

{% endblock %}