{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

		<!-- ========== MAIN ========== -->
		<div class="main">
			<!-- ========== FEATURES SECTION ========== -->
			<section class="content-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 section-header text-center mt20">
							<h3 class="section-title underline">Wellness & Recreational Consulting</h3>
						</div>
						<!-- end section-header -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-8">
								<p>
									More and more people are looking for the best wellness experience in order to break away
									from the stressful work life once in a while. We will help you create the best wellness
									plans and experience that will give customers relaxation as well as a meaning to life.
								</p>

								<div class="container">
									<p class="services-list"><i class="fa fa-angle-double-right green4"></i> Spa</p>
									<p class="services-list">
										<i class="fa fa-angle-double-right green4"></i> Wellness planning
									</p>
									<p class="services-list"><i class="fa fa-angle-double-right green4"></i> Design</p>
									<p class="services-list"><i class="fa fa-angle-double-right green4"></i> Fitness</p>
									<p class="services-list"><i class="fa fa-angle-double-right green4"></i> Nutrition</p>
								</div>
							</div>

							<div class="col-md-4">
								<img src="{%  static 'user/images/portfolio/377-499/05.jpg' %}" class="img-responsive" style="width: 100%" />
							</div>
							<!-- end col-md-8 -->
						</div>
						<!-- end row -->
					</div>
				</div>
				<!-- end container -->
			</section>
		</div>
		<!-- end main -->
 {% endblock %}