


{% extends 'base1.html' %}
{% load static %}
{% block title %}book appointmnet{% endblock %}
{% block content %}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			
            {% if messages %}
            {% for msg in messages%}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
      
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <h1><strong>{{msg}}</strong></h1>
            {% endif %}
            {% endfor %}
            {% endif %}
				<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
                       
						<div class="pull-left">
							<h4 class="text-blue h4">Add details</h4>
							<p class="mb-30"></p>
						</div>
						
					</div>
                   
						
						<div class="form-group row">
                            
							<label class="col-sm-12 col-md-2 col-form-label">Email</label>
							<div class="col-sm-12 col-md-10">
								{{detail.email}}
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Phone number</label>
							<div class="col-sm-12 col-md-10">
								{{detail.ph_number}}
							</div>
						</div>
                        <div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Whatsapp link</label>
							<div class="col-sm-12 col-md-10">
								{{detail.whatsapp_link}}
							</div>
						</div>
                        <div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Instagram link</label>
							<div class="col-sm-12 col-md-10">
								{{detail.insta_link}}
							</div>
						</div>
                        <div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Twitter link</label>
							<div class="col-sm-12 col-md-10">
								{{detail.twitter_link}}
							</div>
						</div>
                        <div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Youtube link</label>
							<div class="col-sm-12 col-md-10">
								{{detail.utube_link}}
							</div>
						</div>
                        <div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Copyright marker</label>
							<div class="col-sm-12 col-md-10">
								{{detail.footer_copyright}}
							</div>
						</div>
                        
					
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label"></label>
							<div class="col-sm-12 col-md-10">
								<a href="{% url 'editsitedet' detail.id  %}" class="btn btn-primary">Edit</a>
							</div>
						</div>
					</form>
					
				</div>
		</div>
	</div>
</div>
				


{% endblock %}